---
import HeroIcon from "../components/HeroIcon.astro";

type Props = {
  icon: string;
  title: string;
  description: string;
  image: string;
};

const { icon, title, description, image } = Astro.props;
---

<div class="mt-24">
  <div
    class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
  >
    <div
      class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"
    >
      <div>
        <!-- <div>
          <span
            class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600"
          >
            <HeroIcon key={icon}>
          </span>
        </div> -->
        <div class="mt-6">
          <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
            {title}
          </h2>
          <p class="mt-4 text-lg text-gray-500">
            {description}
          </p>
        </div>
      </div>
    </div>
    <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
      <div
        class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
      >
        <img
          class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
          src={image}
          alt="Image"
        />
      </div>
    </div>
  </div>
</div>
