---
import StackIcon from "tech-stack-icons";

type Props = {
  tech: string[];
};

const { tech } = Astro.props;

const not_supported = ["akka", "typelevel", "kafka", "zio", "keycloak"];

---


{tech && (
    <div class="my-12">
    <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Tech Stack & Tools</h2>
    <div class="flex flex-wrap justify-center gap-6 w-full mx-auto">
        {tech.map((t) => (

<div class="flex flex-col items-center">
        {not_supported.includes(t) ? (
            <img
                src={`/img/tech/${t}.svg`}
                alt={t}
                class="w-12 h-12 rounded filter grayscale"
            />
        ) : (
            <StackIcon variant="grayscale" className="w-12 h-12 rounded" name={t} />
        )}
            <span class="mt-1 text-xs font-bold uppercase tracking-tight text-gray-700">{t}</span>
        </div>
        ))}
    </div>
    </div>
)}