---
type Props = {
  text: string;
  result: number;
};

const { text, result } = Astro.props;
---

<div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
  <dt class="text-sm font-medium text-gray-500 truncate">
    {text}
  </dt>
  <dd class="mt-1 text-3xl font-semibold text-gray-900">
    {result}
  </dd>
</div>
