---
import type { CollectionEntry } from 'astro:content';

import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../components/Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate } = Astro.props;
---

<Layout>
	<div class="relative bg-gray-50 overflow-hidden">
		<div class="mt-8 mb-8 relative px-4 sm:px-6 lg:px-8">
		  <div class="text-lg max-w-prose mx-auto">
			<h1>
			  <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase"><FormattedDate date={pubDate}></span>
			  <span class="mt-2 block text-2xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-3xl">{title}</span>
			</h1>
			<p class="mt-2 text-md text-center text-gray-500 leading-8">{description}</p>
		  </div>
		  <div class="mt-6 prose prose-stone prose-indigo prose-base text-gray-500 mx-auto">
			<slot />
		  </div>
		  <div class="max-w-7xl mx-auto mt-8 px-4 text-center sm:px-6 lg:px-8">
			<div class="space-y-4">
			  <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
				<h2 class="text-2xl font-extrabold tracking-tight">Created by</h2>
			  </div>
			  <div class="space-y-6">
				<img class="mx-auto h-40 w-40 rounded-full" src="/img/mark_avatar.jpg" alt="Mark de Jong">
				<div class="space-y-2">
				  <div class="text-md leading-6 font-medium space-y-1">
					<h3>Mark de Jong</h3>
					<p class="text-sm text-indigo-600">Software Creator</p>
				  </div>
				  <ul class="flex justify-center space-x-5">
					<li>
					  <a target="_blank" href="https://github.com/vectos" class="text-gray-400 hover:text-gray-500">
						<span class="sr-only">GitHub</span>
						<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
						  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
						</svg>
					  </a>
					</li>
					<li>
					  <a target="_blank" href="https://www.linkedin.com/in/mark-de-jong-a808b7167" class="text-gray-400 hover:text-gray-500">
						<span class="sr-only">LinkedIn</span>
						<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
						  <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
						</svg>
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>
		  
		  
		</div>
	  </div>	
</Layout>